<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQh5/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <title>admin side </title>
</head>

<body>
  <h1>Particular Request</h1>
  <% data.forEach((item,idx)=> { %>
    
          <h4>Priorty:High</h4>
          <h4>To mail :-<%=item.mails.toMail%>
          </h4>
          <h4>Name:-<%=item.name%>
          </h4>
          <h6>Rollno:- to do </h6>
          <!-- If possible add email in this.. -->
        
          <h4>Date:-<%=item.mails.sendDateTime.toISOString().split( "T" )[0]%>
          </h4>
          <h4>Time:-<%=item.mails.sendDateTime.toISOString().split( "T" )[1].substring(0,5)%>
       
          <h4>
            <%=item.mails.content%>
            <%=item.mails._id%>
          </h4>
          <h4>
            <%=item.mails.subject%>
          </h4>

          

          <% if (item.mails.pendingFlag === true) { %>
            <form action="/approve-request" method="post">
              <input type="text" name="content" value="" placeholder="Enter reason" required/>
              <!-- <input type="hidden" name="id" value="<%=item.mails._id%>" /> -->
              <!-- add if statement.. -->
              <input type="hidden" name="id" value="<%=item.mails._id%>" />
              <input type="hidden" name="email" value="<%=item.mails.toMail%>" />
              <button type="submit" onclick= " alertBox('Approved successfully')" >Approve</button>
              
            </form>

            <form action="/reject-request" method="post">
              <input type="text" name="content" value="" placeholder="Enter reason" required/>
              <input type="hidden" name="id" value="<%=item.mails._id%>" />
              <input type="hidden" name="email" value="<%=item.mails.toMail%>" />
              
              <button type="submit" onclick= " alertBox('Rejected successfully');">Reject</button>
            </form>
          <% } %>

          <% if (item.mails.approvedFlag === true) { %>
            <h1>This request was approved already..</h1>
          <% } %>

          <% if (item.mails.rejectedFlag === true) { %>
            <h1>This request was rejected already..</h1>
          <% } %>
          

          
          
          
         
          <!-- <form action="/view-particular-request/{$item._id}" method="get"><button type="submit">More details</button></form> -->
          <!-- Do add api above.. -->
        
    <% }); %>
</body>

<script>
  function alertBox(text) {
   alert(text); 
  }
</script>

